.container {
    background-color: rgb(89, 89, 89);
    box-sizing: content-box;
    max-width: 235px;
    margin: 0 auto;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.display {
    height: 25%;
}

.row {
    display: flex;
    flex: 1;
}

button {
    width: calc(100% / 4);
    flex-grow: 1;
    border: .05px solid rgb(62, 61, 61);
    background-color: gray;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.row > .zero {
    width: calc(100% / 2);
    border-radius: 0 0 0 10px;
}

.row > .equals {
    border-radius: 0 0 10px 0;
}

h1 {
    text-align: center;
}

.orange {
    background-color: orange;
    font-size: 22px;
}

.grayer {
    background-color: rgb(108, 107, 107);
}